<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.strftime("%B %e, %Y") %>
<% end %>

<div id="entries" class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>

<div class="columns is-centered mt-6">
  <%= link_to "View all entries", archives_index_path, class: "button is-link is-outlined is-centered" %>
</div>