<% content_for :title do %>
  Foodlog &ndash; <%= DateTime.now.strftime("%B %e, %Y") %>
<% end %>

<div id="entries" class="columns mt-6 is-centered">
  <% @entries.each do |entry| %>
    <%= render entry %>
  <% end %>
</div>